@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$color-bg: rgb(221, 199, 180, 1);
$color-bg-transparent: rgba(221, 199, 180, 0);
$color-border: rgb(80, 80, 80);
$color-highlight: rgb(56, 34, 15, 0.5);
$color-clock: rgb(190, 168, 149);
$max-width: 1100px;

* {
  margin: 0;
  padding: 0;
  /*border: solid black 1px;*/
}

html {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 10px;
  background-color: $color-bg;
}

@mixin flexBetweenCenter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}


header {
  background-color: $color-bg-transparent;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: inset 0 -0.5rem 1rem -1rem $color-border;
  transition: background-color .3s ease-in;

  .header {
    @include flexBetweenCenter-container;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2.8rem 1rem;

    & > a {
      font-family: 'Parisienne', cursive;
      font-size: clamp(1.5rem, 1.5rem + 2vw, 3rem);
    }

    & > div {
      @include flexBetweenCenter-container;
      font-family: 'Cutive Mono', monospace;
      gap: 2.5rem;
      font-size: clamp(1.5rem, 1.5rem + .4vw, 1.8rem);
      
      & > a {
        font-size: clamp(1.3rem, 1rem + .7vw, 1.7rem);
        border-bottom: solid .25rem $color-bg-transparent;
        transition: border-bottom .25s linear;
      }

      & > a.clicked, a:hover {
        cursor: pointer;
        border-bottom: solid .25rem $color-highlight;
        border-radius: 5%;
      }

      & > img {
        display: none;
      }
    }
  }
}

html:not([data-scroll="0"]) header {
  background-color: $color-bg;
}

main {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Cutive Mono', monospace;

  .main-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 18rem auto 0 auto;
    padding: 0 1rem;
    max-width: $max-width;
    max-height: 540px;

    & > img {
      grid-column: 1 / 2;
      width: 100%;
      max-width: 540px;
      margin: 0 0 0 auto;
      object-fit: cover;
    }

    & > .right-section {
      grid-column: 2 / 3;
      display: grid;
      grid-template-rows: .5fr 2fr .5fr;
      grid-template-columns: 1fr;
      width: 100%;
      letter-spacing: .5rem;
      white-space: nowrap;

      .first {
        grid-row: 1 / 2;
        place-self: start stretch;
        @include flexBetweenCenter-container;
        gap: 1rem;
        margin: 1rem 0 0 clamp(1rem, 1.5rem + 2vw, 4rem);
        font-size: clamp(1.2rem, 1rem + .5vw, 1.7rem);

        & > .line {
          border-bottom: solid 1.5px #000000;
          flex: 1 0 1000px;
        }
      }

      .second {
        grid-row: 2 / 3;
        place-self: center stretch;
        font-family: 'Parisienne', cursive;
        font-weight: 500;
        letter-spacing: normal;
        font-size: clamp(1.5rem, 1.8rem + 3.5vw, 6rem);
        padding-left: clamp(1rem, 1.5rem + 2vw, 4rem);
      }

      .third {
        grid-row: 3 / 4;
        place-self: end stretch;
        @include flexBetweenCenter-container;
        gap: 1rem;
        margin: 0 0 1rem .1rem;
        font-size: clamp(1.2rem, 1rem + .5vw, 1.7rem);

        & > .line {
          border-bottom: solid 1.5px #000000;
          flex: 1;
        }
      }
    }
  }

  .countdown {
    @include flexBetweenCenter-container;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(20rem, 20rem + 20vw, 60rem);
    padding: 8rem 0;
    font-size: clamp(1.2rem, 1rem + .5vw, 1.7rem);

    .text {
      padding: 2.5rem 0;
    }

    .clock {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      .days, .hours, .minutes, .seconds {
        place-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 100%;

        & > div:first-child {
          height: calc(clamp(1.7rem, 1.7rem + .5vw, 2.5rem)*2);
          width: 100%;
          font-size: clamp(1.7rem, 1.7rem + .5vw, 2.5rem);
          border-radius: 5%;
          background-color: $color-clock;

          & > span {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .header {
      padding: 2rem 1.5rem;
    }
  }

  main {
    .main-photo {
      margin-top: 10rem;
      padding: 0 1.5rem;
    }

    .countdown {
      width: 20rem;
      padding: 3rem 0;

      .clock {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }

  .first > .text, .third > .text {
    display: none;
  }
}

@media (max-width:499px) {
  header {
    .header {
      padding: 1.2rem 1.5rem;
    }
  }

  .dropdown {
    a {
      display: none;
    }

    .mobile {
      display: block;
    }
  }

  main > .main-photo {
    margin-top: 8rem;
    padding: 0 1.5rem;
  }

  #second {
    padding-left: 0;
    margin: auto;
  }
}